{% extends 'base.html'%}

{% block content %}





 <div class = 'row text-center table_info container padding'>
  <table class="table container">
  <div class = 'container-fluid padding'>
    <h5>Ceník</h5>
  </div>
  
    <tr>
      <th scope="col">Jazyk</th>
      <th scope="col">Překlad do jazyka</th>
      <th scope="col">Standard</th>
      <th scope="col">Express</th>
      <th scope="col">Korektura</th>
      <th scope="col">Titulky</th>
      <th scope="col">Transkripce</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Čeština</td>
      <td>Angličtina</td>
      <td>240 Kč/Ns</td>
      <td>280 Kč/Ns</td>
      <td>140 Kč/Ns</td>
      <td>100 Kč/min.</td>
      <td>50 Kč/min.</td>
    </tr>
    <tr>
      <td scope="row">Angličtina</td>
      <td>Čeština</td>
      <td>240 Kč/Ns</td>
      <td>280 kč/Ns</td>
      <td>140 Kč/Ns</td>
      <td>100 Kč/min.</td>
      <td>50 Kč/min.</td>
    </tr>
    <tr>
      <td scope="row">Čeština</td>
      <td>Ruština</td>
      <td>240 Kč/Ns</td>
      <td>280 Kč/Ns</td>
      <td>140 Kč/Ns</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <td scope="row">Ruština</td>
      <td>Čeština</td>
      <td>240 Kč/Ns</td>
      <td>280 Kč/Ns</td>
      <td>140 Kč/Ns</td>
      <td> - </td>
      <td> - </td>
    </tr>
</tbody>
</table>
  
</table>
  
 </div>



{% endblock %}