{% extends 'base.html'%}

{% block content %}



<div class = 'container-fluid col-md-12 col-lg-6 text-center'>
	<h4>
	{{ _('Kdo jsme?') }}	
	</h4>
	<p>{{ _('Jsme tým profesionálů, kteří se dlouhodobě věnují profesi
	překládání, korektury a titulkování, kteří chtějí dál,
	levněji a lépe nabízet své služby našim klientům.') }}</p>
	

	<h4>{{ _('Neustále rozšiřujeme náš tým.') }}</h4>

	<p>

	{{ _('Zakládáme si na dobrých vztazích, a jsem pro dlouhodobou 
	spolupráci, v případě zájmu o to pro nás pracovat
	nás kontaktuje na adrese odbornepreklady@info.cz') }}


	</p>

</div>

{% endblock %}