{% extends 'base.html'%}


{% block content %}




<div class = "container text-center col-md-12 col-lg-6">

<h4>Naše služby:</h4>

<p>Věnujeme se primárně výzkumným pracím, odborným pracím, článkům,
ale nebojíme se ani standardních překladů, co se týká manuálů,
návodů, kontraktů a jiným legalistickým textům.</p>

<p>Překládáme tyto následující obory a další:
Právo, medicína, fyzika, biologie (a jiné vědecké obory), antropologie (a jiné sociální vědy) a další...
</p>

<p>Mezi naše další specializace patří:
Titulkování, transkripce, korektura.</p>

<p>Náš podrobný ceník najdete na
stránce Ceníku, nebo případně stačí kliknout zde: <a href='/cenik'>Ceník</a></p>

</div>

{% endblock %}